.special {
    padding: 0 16.5vw;
    @media (max-width: 1280px) {
        padding: 0 10vw;
    }
    @media (max-width: 480px) {
        padding: 0 17px;
    }
    .title {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        @media (max-width: 1280px) {
            font-size: 40px;
        }
        @media (max-width: 1280px) {
            font-size: 30px;
        }
        @media (max-width: 480px) {
            font-size: 28px;
            line-height: normal;
        }
    }
    .specialCon {
        width: 100%;
        display: flex;
        gap: 50px;
        margin-top: 40px;
        @media (max-width: 480px) {
            flex-direction: column;
        }
        .specialText {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 35px;
            @media (max-width: 1024px) {
                gap: 15px;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
            .textCon {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @media (max-width: 480px) {
                    gap: 5px;
                }
                .textTitleCon {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .textIcon {
                        @media (max-width: 1024px) {
                            width: 35px;
                        }
                    }
                    .textTitle {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                        @media (max-width: 1280px) {
                            font-size: 16px;
                        }
                    }
                }
                .text {
                   font-weight: 500;
                   font-size: 16px;
                   line-height: 1.4;
                    @media (max-width: 1280px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .specialImg {
            width: 50%;
            display: flex;
            gap: 13px;
            object-fit: cover;
            @media (max-width: 480px) {
                width: 100%;
            }
            .firstImg {
                width: 50%;
                @media (max-width: 480px) {
                    height: auto;
                }
            }
            .rowImage {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .imgOne {
                    width: 100%;
                    @media (max-width: 480px) {
                        height: auto;
                    }
                }
                .imgTwo {
                    width: 100%;
                    @media (max-width: 480px) {
                        height: auto;
                    }
                }
            }
        }
    }
}