.title {
  text-align: center;
  font-size: 2rem;

  @media (max-width: 480px) {
    font-size: 1.75rem;
  }
}

.workGrid {
    margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @media (max-width: 576px){
        margin-top: 2rem;
    }
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 25px;

  @media (max-width: 600px) {
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
  }
}

.circle {
  background-color: #ffe1c2;
  color: #000;
  width: 70px;
  height: 70px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  flex-shrink: 0;
  margin: 0 auto;

  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}

.text {
  h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #666666;
    line-height: 1.4;
  }
}